" Definir o líder como espaço
let mapleader=" "

" Mapeamentos no modo normal
map <S-h> <Action>(PreviousTab)
map <S-l> <Action>(NextTab)
map <leader>bb <Action>(RecentFiles)
map <leader>` <Action>(RecentFiles)
map <leader>bd <Action>(CloseContent)
map QQ <Action>(Exit)
map WW <Action>(SaveAll)
map E $
map B ^
map ss <Action>(ClearHighlights)
map <A-j> <Action>(MoveLineDown)
map <A-k> <Action>(MoveLineUp)
map <leader>w <Action>(FocusEditor)
map <leader>- <Action>(SplitVertically)
map <leader>| <Action>(SplitHorizontally)
map <leader>wd <Action>(CloseAllEditors)
map <leader>qq <Action>(CloseProject)

" Mapeamentos no modo de inserção
imap jj <Esc>
imap WW <Action>(SaveAll)
imap <A-j> <Action>(MoveLineDown)
imap <A-k> <Action>(MoveLineUp)

" Mapeamentos no modo visual
vmap <A-j> <Action>(MoveLineDown)
vmap <A-k> <Action>(MoveLineUp)

" Navegação entre janelas
map <C-h> <Action>(SelectPreviousWindow)
map <C-j> <Action>(MoveDown)
map <C-k> <Action>(MoveUp)
map <C-l> <Action>(SelectNextWindow)

" Ações do Telescope (ou similares)
map <leader>ff <Action>(FindInPath)
map <leader>fh <Action>(GotoSymbol)
map <leader>fw <Action>(FindWordAtCaret)
map <leader>fg <Action>(FindInPath)
map <leader>fd <Action>(ActivateProblemsViewToolWindow)
map <leader>fb <Action>(RecentFiles)
map <leader>fS <Action>(Vcs.Show.Local.Changes)
map <leader>fm <Action>(RecentFiles)
map <leader>fr <Action>(Vcs.ShowTabbedFileHistory)
map <leader>fR <Action>(ReplaceInPath)
map <leader>fn <Action>(ShowNotifications)
map ft <Action>(ShowTasks)
map <leader><Tab> <Action>(GotoAction)

" === EQUIVALENTES DOS PLUGINS DO NVCHAD ===

" LazyGit equivalent (Git integration)
map <leader>gg <Action>(Vcs.Show.Local.Changes)

" Git Blame Toggle
map <leader>gb <Action>(Annotate)

" Harpoon equivalents (Bookmarks)
map <leader>pa <Action>(ToggleBookmark)
map <leader>ph <Action>(ShowBookmarks)
map <leader>pn <Action>(GotoNextBookmark)
map <leader>pp <Action>(GotoPreviousBookmark)

" Oil file explorer equivalent (Project tree)
map <leader>O <Action>(ActivateProjectToolWindow)

" Terminal controls (ToggleTerm equivalent)
map <leader>tf <Action>(ActivateTerminalToolWindow)
map <leader>th <Action>(Terminal.OpenInTerminal)
map <leader>tv <Action>(Terminal.SplitVertically)

" Todo Comments (TODO tool window)
map <leader>fT <Action>(ActivateTODOToolWindow)

" Trouble equivalent (Problems/Issues)
map <leader>lb <Action>(ActivateProblemsViewToolWindow)
map <leader>lw <Action>(ActivateProblemsViewToolWindow)

" Debug controls (DAP equivalent)
map <leader>db <Action>(ToggleLineBreakpoint)
map <leader>dB <Action>(ToggleBreakpointEnabled)
map <leader>dc <Action>(Resume)
map <leader>di <Action>(StepInto)
map <leader>do <Action>(StepOut)
map <leader>dO <Action>(StepOver)
map <leader>dt <Action>(Stop)
map <leader>dr <Action>(Debug)
map <leader>dP <Action>(Pause)

" LSP equivalents (IntelliJ built-in)
map gd <Action>(GotoDeclaration)
map gi <Action>(GotoImplementation)
map gr <Action>(FindUsages)
map K <Action>(QuickJavaDoc)
map <leader>rn <Action>(RenameElement)
map <leader>ca <Action>(ShowIntentionActions)

" Command mode (equivalent to ; -> :)
map ; <Action>(GotoAction)

" Leap motion equivalent (AceJump plugin - precisa instalar)
" map s <Action>(AceAction)

" Outros mappings úteis do IntelliJ
map <leader>si <Action>(FileStructurePopup)
map <leader>su <Action>(FindUsages)
map <leader>ss <Action>(GotoSymbol)
map <leader>sa <Action>(GotoAction)
map <leader>se <Action>(SearchEverywhere)
map <leader>cf <Action>(ReformatCode)
map <leader>e <Action>(SelectInProjectView)
map <leader>rr <Action>(Run)
map <leader>rb <Action>(CompileDirty)
